@use '@/sass/main';

@mixin boxSizing($size) {
  width: #{$size}rem;
  height: #{$size}rem;
}

.about-item {
  @extend .flex;
  @extend .flex-col;
  @extend .align-center;

  flex-basis: 40.5rem;

  text-align: center;
  margin: 0.5rem;

  &--image {
    background: main.$alice-blue-50;
    border-radius: 15rem;
    padding: 3.4rem;

    margin-bottom: 2.4rem;

    @extend .flex;
    @extend .align-center;
    @extend .justify-center;

    > svg {
      @include boxSizing(7);
      color: main.$midnight-900;
    }
  }

  &--body {
    h2 {
      font-size: 2.1rem;
      font-weight: main.$fw_semibold;
      margin-bottom: 1.2rem;
    }

    p {
      font-size: 1.75rem;
      font-weight: main.$fw_medium;
      color: main.$masala-400;
    }
  }
}
