$white-50: #ffffff;
$white-100: #efefef;
$white-200: #dcdcdc;
$white-300: #bdbdbd;
$white-400: #989898;
$white-500: #7c7c7c;
$white-600: #656565;
$white-700: #525252;
$white-800: #464646;
$white-900: #3d3d3d;
$white-950: #292929;

$wild-sand-50: #f5f5f5;
$alice-blue-50: #eff9ff;

$masala-50: #f6f6f6;
$masala-100: #e7e7e7;
$masala-200: #d1d1d1;
$masala-300: #b0b0b0;
$masala-400: #888888;
$masala-500: #6d6d6d;
$masala-600: #5d5d5d;
$masala-700: #4f4f4f;
$masala-800: #444444;
$masala-900: #3d3d3d;
$masala-950: #262626;

$azure-radiance-50: #eef9ff;
$azure-radiance-100: #daf1ff;
$azure-radiance-200: #bde7ff;
$azure-radiance-300: #8fdaff;
$azure-radiance-400: #5ac3ff;
$azure-radiance-500: #34a5fd;
$azure-radiance-600: #1e87f2;
$azure-radiance-700: #1875e8;
$azure-radiance-800: #195ab4;
$azure-radiance-900: #1a4d8e;
$azure-radiance-950: #153056;

$midnight-50: #ebfaff;
$midnight-100: #d2f2ff;
$midnight-200: #afe9ff;
$midnight-300: #79deff;
$midnight-400: #3ac8ff;
$midnight-500: #0ca7ff;
$midnight-600: #0083ff;
$midnight-700: #006aff;
$midnight-800: #0056d3;
$midnight-900: #034da5;
$midnight-950: #041833;
