@use '../../../sass/main';

.head {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    color: main.$white-50;
    font-size: 6rem;
    font-weight: main.$fw_medium;

    margin-bottom: 2rem;
  }

  &__description {
    color: main.$white-50;
    font-size: 2.5rem;
    font-weight: main.$fw_normal;
  }
}
