@use '@/sass/main';

@mixin fonts {
  font-family: main.$font_montserrat;
  font-weight: main.$fw_semibold;
  font-size: 1.1rem;
}

$padding-error: 0.5rem;

.message-error {
  color: main.$red-600;
  padding: 0 $padding-error $padding-error $padding-error;

  @include fonts;
}
