@use '@/sass/main';

.button {
  background-color: main.$midnight-950;
  border-radius: 3.6rem;

  color: main.$white-50;

  font-size: 2.4rem;
  padding: 2rem 5rem;

  transition: all 0.2s ease-in;

  &:hover {
    background-color: transparent;
    color: main.$midnight-700;
    border: 0.2rem solid main.$midnight-700;

    transform: translateY(-2px);
  }
}
