@use '@/sass/main';

.items__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;

  margin: 5rem 5rem;
}

.load__categories {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40em;
}

.load__products {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-block: 0.8em;
}
