@use '@/sass/main';

.cart {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem 10rem;

  &-all {
    background-color: main.$alice-blue-50;

    display: flex;
    justify-content: space-between;

    max-width: 80rem;
    padding: 1.6rem;

    width: 100%;

    font-size: 1.65rem;
  }
}
