@use '@/sass/main';

.image {
  @extend .flex;
  @extend .align-center;
  @extend .justify-center;

  margin-block: 2.5rem;

  padding: 4rem;

  > img {
    object-fit: cover;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.button_to__back {
  background: transparent;
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;

  margin: 1.5rem 0rem 0.4rem 2.5rem;
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: main.$midnight-900;

  font-size: 1.8rem;
  font-weight: main.$fw_medium;

  > svg {
    opacity: 0;
  }

  transition: all 0.2s ease-in;

  &:hover {
    border-color: main.$azure-radiance-700;
    color: main.$azure-radiance-700;

    gap: 1rem;

    > svg {
      opacity: 1;
    }
  }
}
