@use '@/sass/main';

.image {
  @extend .flex;
  @extend .align-center;
  @extend .justify-center;

  margin-block: 2rem;

  > img {
    object-fit: cover;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
