@use '@/sass/main';

.about-container {
  margin-top: 11.2rem;

  display: flex;
  flex-direction: column;

  .about-title {
    text-align: center;
    margin-bottom: 7.8rem;

    h2 {
      font-size: 3rem;
      font-weight: main.$fw_bold;
      margin-bottom: 1.2rem;
    }

    span {
      font-size: 2rem;
      font-weight: main.$fw_medium;
      color: main.$masala-400;
    }
  }

  .about-item--wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2rem;
  }
}