@use '@/sass/main';

@mixin fonts {
  font-family: main.$font_montserrat;
  font-weight: main.$fw_semibold;
  font-size: 1.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 2rem;

  margin: 2rem auto;
  width: 70%;

  input {
    background: main.$alice-blue-50;
    border: none;
    border-radius: 0.5rem;
    outline: 0.2rem solid transparent;
    transition: all 0.3s ease-in-out;

    @include fonts;

    padding: 1rem 2rem;

    color: main.$azure-radiance-900;

    &:focus {
      outline: 0.2rem solid main.$azure-radiance-700;
    }

    &::placeholder {
      @include fonts;
    }
  }

  &-action {
    display: flex;
    justify-content: flex-end;
  }
}
