@use '@/sass/main';

@mixin fonts {
  font-family: main.$font_montserrat;
  font-weight: main.$fw_semibold;
}

$padding-error: 0.5rem;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 1rem;

  width: 60%;
  margin: 2rem auto;

  .message-error {
    color: main.$red-600;
    padding: 0 $padding-error $padding-error $padding-error;

    font-size: 1.1rem;
    @include fonts;
  }

  &-action {
    display: flex;
    justify-content: flex-end;
  }
}