@use '@/sass/main';

// InputField.scss
.input-field {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.675rem;
    font-weight: main.$fw_semibold;
  }

  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

.form-container {
  max-width: 990px;
  margin: 5rem auto;

  form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    button {
      margin-top: 2rem;

      border-radius: 0.6rem;
      height: 4rem;
      border: none;
      background-color: main.$midnight-700;
      color: main.$azure-radiance-100;

      font-size: 1.7rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }

    span {
      color: red;
      font-size: 1.6rem;
      margin-bottom: 0.2rem;
    }
  }
}
