@use '@/sass/main';

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10rem 0;
  transform: translateY(-250px);

  &-title {
    margin-bottom: 4rem;

    h1 {
      color: main.$white-50;
      font-size: 4rem;
    }
  }
}
