@use '@/sass/main';

.button {
  background-color: main.$midnight-950;
  border-radius: 5rem;
  border: none;

  color: main.$white-50;

  font-size: 1.6rem;
  font-family: main.$font_montserrat;
  font-weight: main.$fw_medium;

  line-height: 1.5rem;
  letter-spacing: 0.3rem;
  padding: 2rem 3rem;

  transition: all 0.2s ease-in;

  &:hover {
    background-color: main.$midnight-400;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.35);
  }

  &:disabled {
    background: main.$masala-500;
    opacity: 0.5;
  }
}
