@use '@/sass/main';

$padding: 1.6rem;

.cardProduct {
  background-color: main.$white-50;
  border-radius: 1rem;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.08));

  @extend .flex;
  @extend .flex-col;

  overflow: hidden;
  width: 33.5rem;

  &-description {
    @extend .flex;
    @extend .flex-col;
    @extend .justify-between;
    flex: 1;

    background-color: main.$alice-blue-50;
  }

  &-title {
    padding: $padding $padding 2rem $padding;

    h2 {
      color: main.$azure-radiance-700;
      font-size: 2rem;
      margin-bottom: 1.4rem;
    }

    p {
      color: main.$masala-800;
      font-size: 1.47rem;
      font-weight: main.$fw_medium;
    }
  }

  &-image {
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-info {
    @extend .flex;
    @extend .justify-between;
  }

  &-price {
    background-color: main.$azure-radiance-800;
    color: main.$white-50;

    font-size: 2rem;
    height: 7rem;
    width: 17rem;

    @extend .flex;
    @extend .align-center;
    @extend .justify-center;
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
  }

  &-action {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.itemCart {
  width: 100%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    span {
      font-weight: main.$fw_semibold;

      &:nth-child(1) {
        font-size: 1.35rem;
      }

      &:nth-child(3) {
        color: main.$masala-950;
        font-size: 1.25rem;
      }
    }

    svg {
      cursor: pointer;
    }
  }

  .cardProduct-actions {
    gap: 5rem;
    justify-content: flex-end;
    padding: 0 5rem;
  }
}
