@use '@/sass/main';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.form {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 500px;
  min-width: calc(200px);
  padding: 3rem 0;
  text-align: left;
  width: 50%;

  &-title {
    text-align: center;
    font-size: 2rem;
    width: 100%;

    margin-bottom: 0.75rem;
  }

  &-content {
    align-items: flex-start;
    background-color: main.$alice-blue-50;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    margin: 3rem 0;
    padding: 2rem;
    width: 100%;

    > p {
      font-size: 2rem;
      font-weight: main.$fw_medium;
    }
  }

  &-finished {
    text-align: center;
    margin: 0 auto;
  }
}
