@use '@/sass/main';

.nav_bar {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 'logo links search';
  height: 10rem;
  padding: 0 12rem;
  position: absolute;
  width: 100vw;
  z-index: 1;

  background: rgb(128, 128, 128, 0.3);
  backdrop-filter: blur(1px);

  @media (max-width: main.$tablet) {
    grid-template-areas:
      'logo logo'
      'links links'
      'search search';
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 20rem;
    justify-items: center;
  }

  @media (max-width: main.$mobile-sm) {
    padding: 0 5rem;
  }

  &__logo {
    grid-area: logo;
  }

  &__links {
    grid-area: links;

    display: flex;
    justify-content: flex-start;
    gap: 5rem;

    @media (max-width: main.$tablet) {
      justify-self: start;
    }
  }

  &__search {
    grid-area: search;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }
}

.link {
  color: main.$white-50;

  font-size: 1.85rem;
  font-weight: main.$fw_bold;

  transition: all 0.2s ease;

  &:hover {
    color: main.$midnight-950;
  }

  &--selected {
    color: main.$midnight-50;
    background: main.$midnight-900;

    border-radius: 0.5rem;

    padding: 0.5rem;
  }
}
