@use '@/sass/main';

.search_field {
  align-items: center;
  background-color: main.$white-50;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 14px 16px;

  input {
    outline: none;
    width: 20rem;

    font-family: main.$font_montserrat;
    font-weight: main.$fw_semibold;

    color: main.$masala-800;

    transition: all 0.2s ease-in-out;

    &::placeholder {
      font-family: main.$font_montserrat;
      font-size: 1.245rem;
    }

    &:focus-visible {
      width: 30rem;
    }
  }
}
